@import "tailwindcss";


#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  min-height: 100vh;
}


@media (max-width: 768px) {
  #root {
    padding: 0 0.5rem;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0 0.25rem;
  }
}